@charset "utf-8";

html,
body,
h1 {
  margin: 0;
  padding: 0;
}
body *{
  border: 1px solid yellow;
}
body {
  background-color: #000;
  height: 2000px;
}
.pabsol {
  position: absolute;
}
.prelat {
  position: relative;
}
.pfix {
  position: fixed;
}
/* 메인 공통 */
.main {
  max-width: 1920px;
  height: 971px;
  margin: 0 auto;
}
.monsters{
    width: 250px;
    height: 250px;
    background: url(./이미지/로고이미지/최강몬스터즈.png) no-repeat center/130%;
}
