@font-face {
    font-family: "neurimboGothicRegular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GangwonState";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "KBO-Dia-Gothic_bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.fz28 {
    text-align: center;
    font-size: 40px;
}
.font1 {
    font-family: "GangwonState";
}
.font2 {
    font-family: "neurimboGothicRegular";
}
.font3 {
    font-family: "KBO-Dia-Gothic_bold";
}
.font4 {
  font-family: 'NeoDunggeunmoPro-Regular';
}
.font5 {
}
.font6 {
}
.font7 {
}
.font8 {
}
.font9 {
}
.font10 {
}
