@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
body *{
    /* outline: 2px dashed gray; */
}


/************************************************************* 
    CSS 에서 변수 사용하기

    1. 정의 : 같은 값을 사용하는 속성에 변수를 사용하여
    반복작업을 줄여주기 위한 CSS에서만 사용가능한 변수

    2. 사용법 : 
    변수선언 및 셋팅
    :root{
        --변수명:값;
        --변수명:값;
        --변수명:값;
    }

    변수호출
    사용하고자 하는 속성값에 변수를 호출
    var(--변수명)

    예)
    :root{
        --bg-color:red;
    }

*************************************************************/
/* 변수 구역 */
:root{
    /* 분할 개수 */
    --spnum:5;
    --titfz:max(2.5vw, 15px);
    --imgwidth:100%;
    --tenvw:10vw;
    --5vw:5vw;

}

.tit {
    line-height: 100px;
    text-align: center;
    font-size: var(--titfz);
}
/* 쇼핑몰 리스트 박스 */
.list-box {
    max-width: 1400px;
    margin: 0 auto;
    padding:var(--5vw) var(--tenvw);
}

/* 플렉스 박스 */
.list-box ul{
    display: flex;
    /* 플렉스 랩핑 
    랩핑하면 flex-shrink값이 자동으로 0으로 전환되어 크기가 강제조정되지 않는다 */
    flex-wrap: wrap;
    /* 사이 간격 주기 
    gap: 위아래 양쪽 */
    gap: var(--5vw) 4vw;
}
.list-box li{
    /* gap간격을 고려한 계산법 */
    /* flex-basis: calc((100% - 4vw*2)/3); */
    flex-basis: calc((100% - 4vw*(var(--spnum) - 1))/var(--spnum));
    position: relative;
    font-size: 0.8vw;
    /* 등분할 비율을 %로 줄때 직접 계산하기보다 
    calc를 이용하여 분할하자 */
}
/* 이미지 채우기 */
.list-box img{
    width: var(--imgwidth);
    /* 등분할 된 박스의 가로를 채운다 */
}

.item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(0 0 0 / 53%);
}

/* 1300이하 미디어쿼리 시작 */
@media  screen and (max-width: 1300px) {
    /* 분할 개수 조정하기 -변수만 업데이트 */
    :root{
        --spnum:3;
    }
}
@media  screen and (max-width: 800px) {
    /* 분할 개수 조정하기 -변수만 업데이트 */
    :root{
        --spnum:2;
    }
}
@media  screen and (max-width: 500px) {
    /* 분할 개수 조정하기 -변수만 업데이트 */
    :root{
        --spnum:1;
        --tenvw:16vw;
        --5vw:20vw;
        --titfz:6vw;
    }
}