@charset "utf-8";

body * {
    outline: 1px dotted #c8ff00;
}
body {
    background: #000;
}
.all-bx {
    max-width: 1706px;
    margin: 0 auto;
}
.top-bx {

    background-color: plum;
}
.main-bx {
    height: 3000px;
    background-color: lime;
}
.bottom-bx {
    height: 300px;
    background-color: aqua;
}


/* 여기서부터 */
.top-nav > ul > li,
.top-nav,.linklogo-bx li{
    float: left;
    display: flex;
    flex-direction: row-reverse;
}
.top-nav a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;

    font-size: min(20px, 1.8vw);
    padding: 0 min(32px, 1.5vw);
    line-height: 5vw;
}



.part-bx {
    /* 옆으로 흐르게 */
    float: left;
    /* 보더/패딩 포함박스 */
    box-sizing: border-box;
    /* 내부패딩 */
    border: 2px dotted blue;
    /* 높이값이 속박스에 있을 경우 
      채우기셋팅 - 높이값이 파티션박스에 있으면 안씀! */
}
