@charset 'utf-8';

#root1{
    width: 100vw;
    height: 10vh;
    /* background: #ff9e9e; */
}
#root2{
    width: 100vw;
    height: 60vh;
    position: relative;
    /* background: #ff9e9e; */
}
#root3{
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
.bottom-area{
    width: 100vw;
    height: 30vh;
    /* background: #ff9e9e; */
}
.top-logo{
    font-size: 2.8rem;
    text-align: center;
    line-height: 1;
    
}
.top-logo img{
    height: 7vh;
    position: relative;
    bottom: -10px;
    right: 10px;
}


#icon-box{
    width: 70%;
    position: absolute;
    left: 15vw;
}

#icon-box>ul{
    display: flex;
    flex-wrap: wrap;

}
#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    background: #bebebe1d;
    outline: 1px solid #aaa;
    border-radius: 10px;
    flex-basis: calc(100%/4);
}
#icon span:first-child{
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    left: 10%;
}
#icon span:nth-child(2){
    font-size: 2rem;
    position: absolute;
    top: 10%;
    right: 10%;
}
#icon p{
    
    font-size: 1rem;
}
/* .card-box{
    position: absolute;
    left: 90%;
    top: 6vh;
} */
.card-box>img{
    width: 24vw;
    height: 68vh;
    display: none;
    position: relative;
}
.bottom-area>h2{
    text-align: center;
    line-height: 5
    ;
}
.basket{
    position: relative;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    outline: 1px solid #aaa;
    border-radius: 10px;
}
.basket button{
    font-size: 1.2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 5%;
    top: calc(50% - 40px);
}
