@charset "utf-8";
/* 서브페이지용 */

/* 공통외부 css 합치기 */
@import url(./common.css);
/* 서브페이지 공통 글자 설정 */

h2.stit {
    color: black;
    font-size: 36px;
    font-family: "Gugi", cursive;
    text-align: center;
    text-shadow: 3px 3px 3px #34d5db66;
    padding: 40px;
    border-radius: 20px;
    outline: 2px solid black;
    box-shadow: 0px 0px 10px;
    margin-bottom: 10px;
}

/* 아웃라인 박스크기에 영향을 안줌
 */

/* IT과학 배경 */
.st4 {
    /* bg 색 이미지 반복 위치 크기 */
    /* 배경넣기 */
    background: url(../image/gom.jpg) no-repeat center/cover;
}

.prlogo img {
    height: 50px;
}

/* 기사타이틀  */
.atit {
    font-size: 30px;
}
/* 기사이미지 */
.afig img {
    width: 100%;
}
.afig {
    margin-bottom: 20px;
    font-size: small;
    text-align: center;
}

/* 자간 ls
단어간격 ws
양쪽정렬 justify */
.mvbx{height: 450px;}

/* 인용블록영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 18px;

}
/* 인용블록 이미지 */
.bqbx img{float: right;
width: 30%;
border-radius: 20px;
margin-left: 20px;}

.bqbx blockquote{padding: 15px 0;
line-height: 2;}

/* article 제목공통 */
.atbx h5{

    background-color: aquamarine;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    margin: 0;


}

/* div와 같은 block요소는 wid설정을 하지않으면 오토로됨 */
.mvbx iframe{border: none;
width: 100%;
height: 100%;
}

/* 주해영역 */
.desc{border-top: 2px dashed #ccc;
    padding: 20px;
    border-bottom: 2px dashed #ccc;}
    
    .desc div{padding: 10px 0;}



.alink{text-align: right;}


.alink a{border: 2px solid black;
    font-family: 'Gugi', cursive; ;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
border-radius: 50%;
text-decoration: none;
}


.alink a:hover{color: rgb(255, 0, 0);
background-color: rgb(231, 233, 136);
}
.acont p {
    font-size: 18px;
    color: #303038;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 단어간격 : ws */
    word-spacing: 1px;
    /* 양쪽정렬 */
    text-align: justify;
    /* 줄간격 lh */
    line-height: 1.62;
    /* 글자 라인간 간격을 조정함
    숫자만 쓰면 배수임(글자높이값에 대한배수)
    단위를 쓰면 단위에 맞게 줄간격 조정됨
    -> 줄간격의 응용은 버튼 등의 글자를
    세로 중앙에 오게 할때 박스높이값만큼 준다! */
}

.acont p em { 
    /* 이탤릭 해제 */
font-style: normal; 
/* 글자색 변경 */
color: rgb(187, 255, 0);
/* 글자 두껍게 */
font-weight: bold;
/* 그림자 */
text-shadow: 0px 0px 5px red;

}


.acont p mark{
    display: block;
    background-color: #ebebeb;
    text-align: center;
    margin: 10px auto;
    padding: 10px 50px;
    font-size: 50px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-family: "Nanum Pen Script", cursive;
    width: 65%;
}
.snews {border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;}


.cnews{border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;}

    .tdart{margin-bottom: 20px;}