@charset 'utf-8';
/* 자동스크롤 css */

 /* 기본 초기화 */
 html,body,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* 스크롤바를 없애기 */
html,body{
    overflow: hidden;
}

/* 공통 레이아웃 클래스 */
/* 속박스 */
.inbox{
    max-width: 2000px;
    margin: 0 auto;
    outline: 2px dashed red;
}
/* 페이지 속박스 */
.page .inbox{
    position: relative;
    height: 100vh;
    background-image: 
    /* linear-gradient(to bottom,lightpink,lightgreen); */
}

/* 배경 공통클래스 */
.bg-com{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 페이지 클래스 */
.bg1{background-image: url(./images/auto_scroll/m1.jpg);}
.bg2{background-image: url(./images/auto_scroll/m2.jpg);}
.bg3{background-image: url(./images/auto_scroll/m3.jpg);}
.bg4{background-image: url(./images/auto_scroll/m4.jpg);}
.bg5{background-image: url(./images/auto_scroll/m5.jpg);}
.bg6{background-image: url(./images/auto_scroll/m6.jpg);}
.bg7{background-image: url(./images/auto_scroll/m7.jpg);}

/* 상단영역 고정하기 */
#header{
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: rgba(173, 216, 230, 0.569);
    /* 가장위 설정 */
    z-index: 999;
}
