@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap");

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/
/* 공통클래스 */
.metal1 {
  background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2 {
  background: url(../images/metal02.jpg) no-repeat center/cover;
}
/* 초기화 */
html,
body,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  /* 전체배경이미지 */
  background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
  outline: 2px dashed yellow;
}

/*************** 상단영역 ***************/
/* 로고 */
.logo {
  /* 픽스드 포지션 */
  position: fixed;
  /* 화면정중앙이동! calc()로! */
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);

  width: 200px;
  height: 200px;

  /* 배경이미지 */
  background: pink url(../images/robot_03.png) no-repeat center/160px;

  border-radius: 50%;
  border: 2px solid #ccc;

  /* 텍스트 */
  text-align: center;
  /* line-height: 200px; */
  color: aquamarine;
  /* font: 스두크/줄체 */
  font: 45px/200px "Orbitron";
  /* 글자그림자 */
  text-shadow: 2px 2px 5px #000;

  /* 박스그림자
  - 밝은 색을 사용하면 glow효과! */
  box-shadow: inset 0 0 20px 5px #000, 0 0 20px 5px aquamarine;
  /* 박스그림자에만 spread설정있음
  x y blur spread color */

  /* 트랜스폼 크기조정 */
  transform: scale(2);
  /* 가장위! */

  z-index: 99;
  transition: 2s;
}

/* 링크 타이틀 */
/* 탑이동 버튼 */
/*************** 메인영역 ***************/
.main-aria {
  padding-top: 860px;
  /* 자식요소인  */

}
/* 첫번째 자식요소 블록박스에 마진 탑을 준경우
    그 마진값은 부모요소 바깥쪽으로 나간다 (기본성질)
    마진탑을 포함 하려면 부모요소에 overflow:hidden
    을 셋팅해야함
    + 하단마진도 마찬가지  */
/* overflow: hidden; */

/* 로봇박스 */
.box-robot {
  position: fixed;
  /* 찹값을 안주면 젠틀픽스드 이므로 위치값을 줘서 올린다 */
  top: 0;

  /* 패딩은 위 아래 */
  width: 100%;
  padding: 200px 0 550px;
  /* top */
  /* margin-top: 30px; */
  transform: scale(0.1) translate(180%, -80%) rotate(90deg);
}
/* 머리 */
.head {
  width: 200px;
  height: 200px;
  /*무대중앙 마영오 */
  margin: 0 auto;
  background: url(../images/metal01.jpg) no-repeat center/cover;
  /* 머리에 붙어있는 하위 앱솔루트의 부모자격 */
  position: relative;
  border-radius: 20% 20% 50% 50%;
  z-index: 1;
  transform: scale(1) translate(0,0);
}
/* 머리카락 가상요소 */
.head::after {
  content: "";
  display: block;
  /* div 넣은듯한 세팅 */
  position: absolute;
  /* 부모는 ? head */
  bottom: 85px;
  left: -53px;
  width: 300px;
  height: 300px;
  background: url(../images/custom.png) no-repeat center/100%;
}
.head::before {
  content: "";
  display: block;
}
/* 오버시 머리카락 가상요소 변경 */
.head:hover::after {
  content: "";
  display: block;
  /* div 넣은듯한 세팅 */
  position: absolute;
  bottom: -10px;
  left: -53px;
  width: 300px;
  height: 300px;

  background: url(../images/blond.png) no-repeat center/100%;
}
/* 오버시 수염 */
.head:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 100px;
  height: 100px;

  background: url(../images/수염.png) no-repeat center/100%;
}
.head:hover .mouth {
  opacity: 0;
}
.head:hover .mouth2 {
  opacity: 1;
}
.head:hover .eye2 {
  opacity: 0;
}
.head:hover .eye3 {
  opacity: 1;
}

/* 눈 공통 */
.eye {
  /*  */
  top: 40px;
  width: 40px;
  height: 40px;
  /* 원형 */
  border-radius: 50%;
  /* 이중선보더 */
  border: 4px double #000;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: #fff;
}

/* 대가리/몸통 부속물 공통 */
.head > div,
.body > div {
  position: absolute;
}
/* 왼쪽 */
.eye1 {
  left: 35px;
  background: url(../images/e11.png) no-repeat center/55px;
}
/* 오른쪽 */
.eye2 {
  right: 35px;
  background: url(../images/e22.png) no-repeat center/50px;
}
.eye3 {
  right: 35px;
  background: url(../images/삼일한.png) no-repeat center/160%;
  opacity: 0;
}

/* 코 */
.nose {
  width: 50px;
  height: 70px;
  background: url(../images/nose1.png) no-repeat center/cover;
  bottom: 70px;
  left: 75px;
  border-radius: 300px 300px 200px 200px;
}
/* 아가리 */
.mouth {
  width: 100px;
  height: 30px;
  background: url(../images/mouth.png) no-repeat center/100% 100%;
  bottom: 30px;
  left: 50px;
  transform: scale(.7,1.2);
}
.mouth2 {
  width: 70px;
  height: 50px;
  background: url(../images/레이어\ 1.png) no-repeat center/100% 100%;
  bottom: 25px;
  left: 65px;
  opacity: 0;
}

/* 귀 공통 */
.ear {
  top: 70px;
  width: 50px;
  height: 80px;
  background: url(../images/metal02.jpg);
}
/* 왼쪽귀 */
.ear1 {
  left: -50px;
  border-radius: 50px 0 0 20px;
}
/* 오른쪽 */
.ear2 {
  right: -50px;
  border-radius: 0 50px 20px 0;
}
/* 몸통 */
.body {
  position: relative;
  /* 부모자격주기 
  하위자식들 div 앱솔루트 */
  width: 220px;
  height: 350px;
  /* 중앙정렬 마영오 */
  margin: 0 auto;
  margin-top: 50px;
  background: url(../images/metal02.jpg) no-repeat center/80% 100%;
}
/* 몸통의 가상요소로 상체 만들기 */
.body::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -50px;
  width: 320px;
  height: 250px;
  background-image: linear-gradient(
    to top,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  border-radius: 40px;
  clip-path: polygon(20% 100%, 80% 100%, 100% 0%, 0% 0%);
}
/* 하체만들기 */
.body::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -75px;
  left: -15px;
  width: 250px;
  height: 150px;
  background-image: linear-gradient(
    to top,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  border-radius: 110px 110px 30% 30%;
}

/* 목 */
.neck {
  top: -50px;
  left: calc(50% - 25px);
  /* 50%-자기크기절반 */
  width: 50px;
  height: 80px;
}
/* 팔공통 */
.arm {
  width: 50px;
  height: 170px;
  border-radius: 20%;

  top: 53px;
}
.arm1 {
  left: -105px;
  transform-origin: top;
  transform: rotate(0deg);
}
.arm2 {
  right: -105px;
  transform-origin: top;
  transform: rotate(0deg);
}
/* 관절 가상요소 */
.arm::after {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../images/metal01.jpg) no-repeat center/100%;
  position: absolute;
  left: 0px;
  bottom: -25px;
  box-shadow: 0 0 10px #000;
  box-sizing: border-box;
  border-radius: 50%;
}
.arm::before {
  content: "";

  width: 30px;
  height: 30px;
  background-image: linear-gradient(
    to top,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  position: absolute;
  left: 10px;
  bottom: -15px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 50%;
  z-index: 1;
}
/* 하박 */
.arm span {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 100%;
  left: 10%;
  border-radius: 20%;
}
/* 손 */
.arm span::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: calc(50% - 70px / 2);
  width: 80px;
  height: 120px;
  outline: 2px dotted #444;
  background: url(../images/hand_left.png) no-repeat center/100% 100%;
}
/* 왼손 가상요소 변경 */
.arm1 span::after {
  margin: 0;
}
/* 오른손만 가상요소 변경 */
.arm2 span::after {
  background: url(../images/hand_right.png) no-repeat center/100% 100%;
  margin-left: -10px;
}

/* 다리 */
.leg {
  top: 100%;
  width: 80px;
  height: 270px;
  border-radius: 20%;
  transform-origin: top;
  transform: rotate(0deg);
}

.leg1 {
  left: 0;
}

.leg2 {
  right: 0;
}
.leg::after {
  content: "";
  width: 80px;
  height: 80px;
  background: url(../images/metal01.jpg) no-repeat center/100%;
  position: absolute;

  bottom: -40px;
  box-shadow: 0 0 10px #000;
  box-sizing: border-box;
  border-radius: 40%;
}
.leg::before {
  content: "";

  width: 50px;
  height: 50px;
  background-image: linear-gradient(
    to top,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  position: absolute;
  left: 15px;
  bottom: -25px;
  box-shadow: 0px 0px 10px #000;
  border-radius: 40%;
  z-index: 1;
}
/* 종아리 공통 */
.leg span {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 100%;
  left: 10%;
  border-radius: 20%;
}
/* 가상요소로  발 만들기 */
.leg span::before {
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  left: -5%;
  width: 110%;
  height: 60%;
  background-image: linear-gradient(
    to right,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  border-top: 5px solid #000;
}
.leg span::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -9%;
  width: 170%;
  height: 60px;
  background-image: linear-gradient(
    to right,
    rgb(58, 55, 55),
    rgb(181, 194, 202)
  );
  border: 1px solid #000;
  border-radius: 40px 60px 0 0;
  border-bottom: 7px solid #000;
}

/* 어깨 */
.shdr {
  width: 110px;
  height: 110px;
  top: -5px;
}
.shdr1 {
  left: -135px;
  border-radius: 50% 0 50% 50%;
  /* 둥근 모서리 값설정 
    1개 전면
    2개 대각선
    3개 왼위 오른아래 대각
    4개 왼위부터 시계
   */
}
.shdr2 {
  right: -135px;
  border-radius: 0 50% 50% 50%;
}
/* TV */
.tv{
  top: 8%;
  left: 50%;
  /* left방향 중앙이동 */
  transform: translateX(-50%) scale(1);
  z-index: 10;

  width: 180px;
  height: 125px;

  /* border: 2px solid #222; */
  border-radius: 5px;
  /* box-shadow: inset 0 0 10px #000; */

  /* 배경이미지 */
  background: 
  url(../images/tv-removebg-preview.png) no-repeat 0/100%;

  /* 트랜지션: 속시이지 */
  transition: 1.2s ease-in-out;
  
}

.tv.on{
  transform: translateX(-50%) scale(3);
}

/* 스크린 */
.screen {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 140px;
  height: 105px;
  border-radius: 15px;
  background-color: #000;
  overflow: hidden;
}
/* 아이프레임 */
#mv {
  position: absolute;
  top: 1px;
  left: -25px;
  width: 133%;
  height: 100%;
  border: none;
}

/* 동영상 선택박스 */
.box-bth{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 100px;
}
.box-bth button{
  width: 100%;
}
/* 로봇 설명박스 */
/*************** 하단영역 ***************/
/* 회사정보 */
