@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

/* 공사중 표시 */
body * {
    /* outline: 1px dashed ghostwhite; */
}

/* 전체배경색 */
body {
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header {
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 로고 */
.tit {
    color: aquamarine;
    font-size: 40px;
    font-family: "Jua", sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글로우 */
    text-shadow: 0 0 4px aquamarine;
    animation: tit-ani 0.2s ease-in infinite alternate;
}

/* 타이틀 키프레임 */
@keyframes tit-ani {
    to {
        text-shadow: 0 0 10px aquamarine;
    }
}

/**************** 2.메인영역 ****************/
.main {
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center;
}
.screen {
    position: absolute;
    top: 138px;
    left: 258px;
    width: 698px;
    aspect-ratio: 16/9;
    /* background-color: red; */
}
.screen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.poster-menu {
    position: absolute;
    width: 700px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.poster-menu ul {
    
    display: flex;
    gap: 0 10px;
}
.poster-menu>ul>li {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.poster-menu img {
    width: 100%;
}
.mv-info{
    position: absolute;
    /* 나가~ */
    top: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:#00000049;

    transition: top .3s ease-out;
}
/* 오버시 top값 복구 */
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
.mv-info ol {
    display: flex;
    flex-direction: column;
    gap: 10% 0;
    height: 100%;
    justify-content: center;
}

/**************** 3.하단영역 ****************/
.footer {
    height: 100px;
}
