@charset "utf-8";
/* 도깨비 PJ : 공통 모듈 CSS - core.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
#header{
    background-color: lightblue;
}
.header .partbox{
    height: 120px;
}
/************* 3. 메인영역 : .group-part *************/
#main{
    min-height: 800px;
}

/************* 4. 하단영역 *************/
#footer{
    background-color: lightskyblue;
}
.footer .partbox{
    height: 100px;
}

