@charset "utf-8";

/* 기본 초기화 */
html,body,h1,h2,h3,h4,ul,ol,dl,dt,figure,figcaption,p{
    margin: 0;
    padding: 0;
}
/* ul,ol 순번 블릿 없앰 */
ul,ol{
    list-style: none;
}
/* a요소 리셋 */
a{
    color: #000;
    text-decoration: none;

}
/* h1 요소 글자크기 */

h1,h2,h3,h4{
    font-size: 100%;
    /* 박스 디자인시 글자크기로 인한 영향을 위한 초기화 */
}
