@charset "utf-8";

/* 큐브 애니메이션 CSS - cube.css */
html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to bottom, #a1f4e0, #ef95fb);
    height: 100vh;
}
/* 변수세팅 */
:root {
    --cube-size: 300px;
}
/* 작동버튼 */
.btngo{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    border-radius: 10px; 
    cursor: pointer;   
}
.btngo:hover{
    background-color: lime;
}
.cube {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    /* outline: 1px dashed red; */
    top: calc(50% - var(--cube-size) / 2);
    left: calc(50% - var(--cube-size) / 2);

    /* 입체로 설정하기
    -입체로 설정할 요소의 부모박스에
    아래와 같이 설정해준다(부모요소)
    transform-style:preserve-3d
    기본값은 flat : 2D
    */
    transform-style: preserve-3d;
    /* 입체를 보이게 회전 */
    transform: rotateX(10deg) rotateY(30deg);
}
/* 큐브각면 공통 */
.cube span {
    position: absolute;
    /* 앱솔 자동 블록 */
    width: 100%;
    height: 100%;
    /* 투명도 */
    opacity: 0.8;
    outline: 1px solid rgb(38, 0, 255);
}

/* 앞면 */
.cube span:nth-child(1) {
    background: url(../images/seoulCity.jpg) no-repeat center/cover;
    transform: translateZ(calc(var(--cube-size)/2));
}
.cube span:nth-child(2) {
    background: url(../images/newyorkCity.jpg) no-repeat right/auto 105%;
    transform: translateZ(calc(var(--cube-size)/-2));
}
.cube span:nth-child(3) {
    background: url(../images/London_city.jpg) no-repeat center/cover;
    transform: rotateX(90deg) translateZ(calc(var(--cube-size)/2));
}
.cube span:nth-child(4) {
    background: url(../images/parisCity.jpg) no-repeat center/cover;
    transform: rotateX(90deg) translateZ(calc(var(--cube-size)/-2));
}
.cube span:nth-child(5) {
    background: url(../images/citys.jpg) no-repeat center/cover;
    transform: rotateY(90deg) translateZ(calc(var(--cube-size)/2));
}
.cube span:nth-child(6) {
    background: url(../images/cityMain.jpg) no-repeat center/cover;
    transform: rotateY(90deg) rotateY(180deg) translateZ(calc(var(--cube-size)/2));
}
/* 큐브회전 클래스 */
.rotate-cube{
    /* 애니메이션 */
    animation: cube-ani 4s linear infinite ;
    animation-play-state: paused;
}
/* 작동상태 */
.rotate-cube.on{
    animation-play-state: running;
}
/* 키프레임 */
@keyframes cube-ani{
    to{
        transform: rotateX(370deg) rotateY(-330deg);
        /* transform: rotateX(370deg) rotateY(390deg) rotateZ(360deg); */
             /* 
            x축 양의 방향으로 10도에서 출발
            양의 방향 360도+10도=370도
            음의 방향 -360도+10도=-350도
            ____________________________

            y축 양의 방향으로 30도에서 출발
            양의 방향 360도+30도=390도
            음의 방향 -360도+30도=-330도
        */
    }
    
}