@charset "utf-8";
/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Anton', sans-serif; */


html,body,ul{
    margin: 0;
    padding: 0;
}
body{
    background-image: 
    linear-gradient(to bottom, #fff 20%,skyblue 40%,#fff);

    height: 100vh;
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
ul{
    list-style: none;
}
/* 변수 */
:root{
    --ip-w:200px;
    --ip-h:400px;
}
/* 폰박스 */
.iphone{
    position: absolute;
    top: calc(50% - var(--ip-h)/2);
    left: calc(50% - var(--ip-w)/2);
    /* outline: 2px solid blue;  */
    width: var(--ip-w);
    height: var(--ip-h);
    /* 입체설정 tfs */
    transform-style: preserve-3d;
    /* 살짝 기울이기 */
    transform: rotateX(10deg) rotateY(30deg);
}
/* 폰 각면 공통 */
.iphone span{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* outline: 1px dashed red; */
}
/* 앞면 */
.iphone span:nth-child(1){
    background-image: url(../images/ip01.png);
    transform: translateZ(10px);
}
.iphone span:nth-child(2){
    background-image: url(../images/ip02.png);
    transform: translateZ(-10px) rotateY(180deg);
}
.iphone span:nth-child(3){
    background-image: url(../images/ip03.png);
    transform: rotateY(90deg);
    width: 20px;
    right: -10px;
}
.iphone span:nth-child(4){
    background-image: url(../images/ip04.png);
    width: 20px;
    left: -10px;
    transform: rotateY(-90deg);
}
.iphone span:nth-child(5){
    background-image: url(../images/ip05.png);
    height: 20px;
    bottom: -10px;
    transform: rotateX(90deg);
}
.iphone span:nth-child(6){
    background-image: url(../images/ip06.png);
    height: 20px;
    top: -10px;
    transform: rotateX(-90deg);
}
/* 아이폰 회전클래스 */
.ip-ani{
    /* 애니메이션 : 이시이지반방마 */
    animation: iphone-ani 1.5s ease-in-out 1s 2 alternate;
}

/* 아이폰 회전 키프레임 */
@keyframes iphone-ani {
    to{
        transform: rotateX(370deg) rotateY(-330deg);
        /* x축 10도에서 시작, y축은 30도에서 시작
        -> x축은 정방향이므로 더하고 y축은 역방향이므로 뺌 */
    }
}

/* 글자박스 */
.fbx{
    position: absolute;
    width: 100vw;
}
.tbx{
    position: relative;
    left: 0;
    display: flex;
    width: 200vw;
}
.tbx ul{
    display: flex;
    /* tbx의 자식으로 등분할 */
    flex: 1;
}
.tbx ul li{
    flex: 1;
    font-family: 'Anton';
    font-size: 4vw;
    text-align: center;
    color: #a0a0a0;
    text-shadow: 2px 2px 2px rgb(0 0 0 / .8);
}
/* 흘러가는 텍스트 애니 */
.txt-ani1{
    animation: txt-ani1 10s linear infinite;
}

@keyframes txt-ani1 {
    to{
        left: -100%;
    }
}

.f2{
    bottom: 0;
}
.f2 .tbx{
    left:-100%;
}
.txt-ani2{
    animation: txt-ani2 10s linear infinite;
}
@keyframes txt-ani2 {
    to{
        left: 0;
    }
}

/* 아이폰 따라보기 이벤트 박스 */
.evt-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;

    /* 플렉스박스 */
    display: flex;
    /* 랩핑박스 */
    flex-wrap: wrap;
}
.evt-box div{
    width: 20%;
    height: 50%;
    outline: 1px dashed green;
}