@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gothic+A1:wght@700&family=Gugi&family=Nanum+Pen+Script&display=swap");

@font-face {
  font-family: "CustomFont"; /* 글꼴 이름 (임의로 설정 가능) */
  src: url(../MaplestoryFont_TTF/Maplestory\ Bold.ttf) format("truetype"); /* 글꼴 파일 경로 및 형식 */
}

html,body,h1,h2{margin: 0;
padding: 0;}
.bx {
  width: 1200px;
  border: 4px;
  padding: 20px;
  margin: 0 auto;
}
#menu a {
  text-decoration-line: none;
  text-shadow: 0px 0px 8px #fcf700;
  margin: 0 40px;
  font-family: "Black Han Sans", sans-serif;

  color: rgb(4, 5, 0);
  font-size: 20px;
}

#body1 {
  text-align: center;
  max-width: 100%;
  background-color: #000000;
}

#top {
  background: url(../image/mainback.jpg) no-repeat center/cover;
}
#top img {
  max-width: 500px;
}
.maintit {
  font-family: customfont;
  color: #000000;
  text-decoration-line: none;
  text-indent: 50px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);

  font-size: 50px;
  border: 5px ridge;
  padding: 40px;
  background-image: url(../image/mlmlogoc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

#cont {
  height: 1000px;

  font-family: "Black Han Sans", sans-serif;

  color: rgb(4, 5, 0);
  font-size: 20px;
  text-decoration-line: none;
  text-shadow: 0px 0px 8px #fcf700;
}
