@charset "utf-8";

@import url(./MLcommon.css);

/* 멤버 */
#mb {
    width: 400px;
    height: 400px;
    margin-left: 15%;
    margin-top: 20px;
}

.ML img {
    width: 50%;
    height: 70%;
    border: 4px ridge white;
}

/* 게임 */
#gm {
    width: 400px;
    height: 400px;
    margin-top: -423px;
    margin-left: 53%;
}

